@import "tailwindcss";
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/800.css';

:root {
  --color-border: #8c8c8c;
}

* {
  font-family: 'Poppins', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

/* Estilos para impresión */
@media print {
  table {
    page-break-inside: auto;
    page-break-after: auto;
  }
  
  section {
    page-break-inside: auto;
    /* page-break-after: always; */
    page-break-before: auto;
  }
  
  thead {
    display: table-header-group;
  }
  
  tbody {
    display: table-row-group;
  }
  
  tfoot {
    display: table-row-group;
    page-break-before: auto;
    /* page-break-after: avoid; */
  }
  
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  
  h1, h2, h3 {
    page-break-after: avoid;
  }
}
.tr-catequistas td:first-child {
  text-align: left;
}

.resumen {
  background-color: #d5e8f7;
  font-weight: bold;
  font-size: 12px;
}