@import "tailwindcss";
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/800.css';

* {
  font-family: 'Poppins', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.resumen {
  background-color: #d5e8f7;
  font-weight: bold;
  font-size: 12px;
}