---
import FootTable from "../components/FootTable.astro";
import HeadTable from "../components/HeadTable.astro";
import NewBodyTable from "../components/NewBodyTable.astro";
import Titles from "../components/Titles.astro";
import { ParroquiaSlug } from "../lib/allComunidades";
import { getAllHermanos, getCommunity } from "../lib/getComunidades.ts";
const nameParroquia = ParroquiaSlug.monay;
const comunidades = getCommunity(nameParroquia);
const allHermanosParroquia = getAllHermanos(nameParroquia);
---

<section>
  <Titles typeTitle="h2" title="Santa Teresa de Monay" />
  <table class="table-data">
    <HeadTable />
    <!-- <BodyTable comunidades={comunidades.comunidades} /> -->
    <NewBodyTable hermanos={allHermanosParroquia} />
    <FootTable
      totals={{
        totalMatrimonios: comunidades.totalMatrimonios,
        totalSolteros: comunidades.totalSolteros,
        totalSolteras: comunidades.totalSolteras,
        totalHermanos: comunidades.totalHermanos,
      }}
    />
  </table>
</section>
