---
import FootTable from "../components/FootTable.astro";
import HeadTable from "../components/HeadTable.astro";
import NewBodyTable from "../components/NewBodyTable.astro";
import Titles from "../components/Titles.astro";
import { ParroquiaSlug } from "../lib/comunidadesData";
import { getDataParroquia } from "../lib/comunidadesQueries.ts";
const nameParroquia = ParroquiaSlug.ricaurte;
const data = getDataParroquia(nameParroquia);
---

<section>
  <Titles typeTitle="h2" title={data.nombre} />
  <table class="table-data">
    <HeadTable />
    <NewBodyTable hermanos={data.hermanos} />
    <FootTable
      totals={{
        totalMatrimonios: data.totalMatrimonios,
        totalSolteros: data.totalSolteros,
        totalSolteras: data.totalSolteras,
        totalHermanos: data.totalHermanos,
      }}
    />
  </table>
</section>
