---
import FootTable from "../components/FootTable.astro";
import HeadTable from "../components/HeadTable.astro";
import NewBodyTable from "../components/NewBodyTable.astro";
import Titles from "../components/Titles.astro";
import { ParroquiaSlug } from "../lib/comunidadesData";
import {
  getAllHermanos,
  getComunidadesByParroquia,
} from "../lib/comunidadesQueries.ts";
const nameParroquia = ParroquiaSlug.sanPablo;
const comunidades = getComunidadesByParroquia(nameParroquia);
const allHermanosParroquia = getAllHermanos(nameParroquia);
---

<section>
  <Titles typeTitle="h2" title={nameParroquia} />
  <table class="table-data">
    <HeadTable />
    <NewBodyTable hermanos={allHermanosParroquia} />
    <FootTable
      totals={{
        totalMatrimonios: comunidades.totalMatrimonios,
        totalSolteros: comunidades.totalSolteros,
        totalSolteras: comunidades.totalSolteras,
        totalHermanos: comunidades.totalHermanos,
      }}
    />
  </table>
</section>
