---
// components
import Layout from "../layouts/Layout.astro";
import Titles from "../components/Titles.astro";

// comunidades
import CarmenGuzho from "../comunidades/CarmenGuzho.astro";
import SanJuanPabloII from "../comunidades/SanJuanPabloII.astro";
import SanPablo from "../comunidades/SanPablo.astro";
import Monay from "../comunidades/Monay.astro";
import QuintaChica from "../comunidades/QuintaChica.astro";
import Catequistas from "../comunidades/Catequistas.astro";
import Resume from "../components/Resume.astro";
import Ricaurte from "../comunidades/Ricaurte.astro";

// filters
import SectionFilters from "../sections/SectionFilters.astro";
---

<Layout>
	<Titles typeTitle="h1" title="Convivencia de Responsables- 2025" />
	<main class="flex flex-col gap-10 my-8">
		<CarmenGuzho />
		<QuintaChica />
		<Ricaurte />
		<SanPablo />
		<Monay />
		<SanJuanPabloII />
		<Resume />
		<Catequistas />
		<!-- <SectionFilters /> -->
	</main>
</Layout>
