---
import Titles from "../components/Titles.astro";
import CarmenGuzho from "../comunidades/CarmenGuzho.astro";
import SanJuanPabloII from "../comunidades/SanJuanPabloII.astro";
import SanPablo from "../comunidades/SanPablo.astro";
import QuintaChica from "../comunidades/QuintaChica.astro";
import Monay from "../comunidades/Monay.astro";
import SectionFilters from "../sections/SectionFilters.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="p-3 flex">
		<button
			class="no-print block bg-cyan-500 text-white p-3 rounded-full font-bold cursor-pointer hover:bg-cyan-600 transition duration-300"
			onclick="window.print()">🖨️ Imprimir / Guardar como PDF</button
		>
	</header>
	<Titles typeTitle="h1" title="Convivencia de Responsables- 2025" />
	<main class="flex flex-col gap-10 mt-10">
		<CarmenGuzho />
		<SanPablo />
		<SanJuanPabloII />
		<QuintaChica />
		<Monay />
		<SectionFilters />
	</main>
</Layout>
