---
import FootTable from "../components/FootTable.astro";
import HeadTable from "../components/HeadTable.astro";
import NewBodyTable from "../components/NewBodyTable.astro";
import Titles from "../components/Titles.astro";
import { CasasConvivencia, ParroquiaSlug } from "../lib/comunidadesData";
import { generarFiltrosHospedaje } from "../lib/comunidadesQueries.ts";

// Obtener los filtros ya procesados con toda la lógica encapsulada
const dataFilters = generarFiltrosHospedaje(CasasConvivencia.sumbahuaico);
---

<section class="flex flex-col gap-10">
  {
    dataFilters.map((fil) => (
      <section>
        <br />
        <Titles typeTitle="h2" title={fil.title} />
        <table class="table-data">
          <HeadTable typeHead="filters" />
          <NewBodyTable filtersComus={fil.list} />
          <FootTable totalsFilters={fil.list} />
        </table>
        {fil.nota && (
          <div class="note text-sm mt-10">
            <span class="text-red-400 font-bold text-lg">Nota: </span>
            <span>{fil.nota}</span>
          </div>
        )}
      </section>
    ))
  }
</section>
