---
import FootTable from "../components/FootTable.astro";
import HeadTable from "../components/HeadTable.astro";
import NewBodyTable from "../components/NewBodyTable.astro";
import Titles from "../components/Titles.astro";
import { CasasConvivencia, ParroquiaSlug } from "../lib/allComunidades";
import { getComunityByLugar } from "../lib/getComunidades.ts";
const nameParroquia = ParroquiaSlug.todas;
const comunidades = getComunityByLugar(
  nameParroquia,
  CasasConvivencia.QuintaLeonor,
);
comunidades.sort((a, b) => a.numComunidad - b.numComunidad);
---

<section>
  <Titles typeTitle="h2" title="Filters" />
  <table class="table-data">
    <HeadTable typeHead="filters" />
    <!-- <BodyTable filters comunidadesFilters={comunidades} /> -->
    <NewBodyTable filtersComus={comunidades} />
    <FootTable totals={comunidades} />
  </table>
</section>
