---
import BodyTable from "../components/BodyTable.astro";
import HeadTable from "../components/HeadTable.astro";
// import FootTable from "../components/FootTable.astro";
import Titles from "../components/Titles.astro";
import { CasasConvivencia, ParroquiaSlug } from "../lib/allComunidades";
import { getComunityByLugar } from "../lib/getComunidades.ts";
const nameParroquia = ParroquiaSlug.todas;
const comunidades = getComunityByLugar(
  nameParroquia,
  CasasConvivencia.QuintaLeonor,
);
comunidades.sort((a, b) => a.numComunidad - b.numComunidad);
---

<section>
  <Titles typeTitle="h2" title="Filters" />
  <table class="table-data">
    <HeadTable typeHead="filters" />
    <BodyTable filters comunidadesFilters={comunidades} />
    <!-- <FootTable
      totals={{
        totalMatrimonios: comunidades.totalMatrimonios,
        totalSolteros: comunidades.totalSolteros,
        totalSolteras: comunidades.totalSolteras,
        totalHermanos: comunidades.totalHermanos,
      }}
    /> -->
  </table>
</section>
