---
import FootTable from "../components/FootTable.astro";
import HeadTable from "../components/HeadTable.astro";
import NewBodyTable from "../components/NewBodyTable.astro";
import Titles from "../components/Titles.astro";
import { CasasConvivencia, ParroquiaSlug } from "../lib/comunidadesData";
import { generarFiltrosHospedaje } from "../lib/comunidadesQueries.ts";

// filtro () --> devuelve todas las casas de convivencia
// filtro (seminario - monay)
// filtro (seminario)
// filtro (undefined , seminario)
const dataFilters = generarFiltrosHospedaje(undefined, ParroquiaSlug.todas);
---

<section class="flex flex-col gap-10">
  {
    dataFilters.map((fil) => (
      <section>
        <Titles typeTitle="h2" title={fil.title} />
        <table class="table-data">
          <HeadTable typeHead="filters" />
          <NewBodyTable filtersComus={fil.list} />
          <FootTable totalsFilters={fil.list} />
        </table>
        {fil.nota && (
          <div class="note text-sm mt-10">
            <span class="text-red-400 font-bold text-lg">Nota: </span>
            <span>{fil.nota}</span>
          </div>
        )}
      </section>
    ))
  }
</section>
