---
// import BodyTable from "../components/BodyTable.astro";
// import FootTable from "../components/FootTable.astro";
// import HeadTable from "../components/HeadTable.astro";
import Titles from "../components/Titles.astro";
import { CasasConvivencia, ParroquiaSlug } from "../lib/allComunidades";
import { getComunityByLugar } from "../lib/getComunidades.ts";
const nameParroquia = ParroquiaSlug.monay;
const comunidades = getComunityByLugar(
  nameParroquia,
  CasasConvivencia.Seminario,
);
console.log(comunidades);
---

<section>
  <Titles typeTitle="h2" title="Santa teresa de monay" />
  <!-- <table class="table-data">
    <HeadTable />
    <BodyTable comunidades={comunidades.comunidades} />
    <FootTable
      totals={{
        totalMatrimonios: comunidades.totalMatrimonios,
        totalSolteros: comunidades.totalSolteros,
        totalSolteras: comunidades.totalSolteras,
        totalHermanos: comunidades.totalHermanos,
      }}
    />
  </table> -->
</section>
