---
import FootTable from "../components/FootTable.astro";
import HeadTable from "../components/HeadTable.astro";
import NewBodyTable from "../components/NewBodyTable.astro";
import Titles from "../components/Titles.astro";
import { CasasConvivencia, ParroquiaSlug } from "../lib/comunidadesData";
import { getHermanosByHospedaje } from "../lib/comunidadesQueries.ts";

// Cambiar dependiendo la parroquia y el hospedaje que se quiera filtrar
const nameParroquia = ParroquiaSlug.todas;
const nameHospedaje = CasasConvivencia.seminario;

const comunidades = getHermanosByHospedaje(nameParroquia, nameHospedaje);

// ordenar por nombre de parroquia
// comunidades.sort((a, b) => a.parroquia.localeCompare(b.parroquia));

// ordenar por número de comunidad
comunidades.sort((a, b) => a.numComunidad - b.numComunidad);

// ordenar por nombre de hospedaje+
// comunidades.sort((a, b) => a.hospedaje.localeCompare(b.hospedaje));
---

<section>
  <Titles typeTitle="h2" title={`${nameHospedaje} - ${nameParroquia}`} />
  <table class="table-data">
    <HeadTable typeHead="filters" />
    <NewBodyTable filtersComus={comunidades} />
    <FootTable totalsFilters={comunidades} />
  </table>
</section>
